
@import "bootstrap/dist/css/bootstrap.min.css";
@import "toastr/build/toastr.min.css";
@import './login.scss';
@import './Admin/admin.scss';
@import './User/user.scss';
@import './sidebar.scss';
@import './navbar.scss';
@import './User/user-profile.scss';
@import './loading.scss';
@import './footer.scss';
@import './Student/student.css';
body{
    font-family: Lato, sans-serif;
}
.toast-top-center {
    padding-top: 15px;
    position: fixed;
    background-color: transparent;
    height: 6rem;
    z-index: 10000000;
    opacity: 1;
    
}
.shop-layout{
    overflow: hidden;
}