/* Footer Styles */
footer {
    background-color: #ECEFF1;
}

footer .social-media {
    background-color: #39b54a;
    color: #fff;
}

footer .social-media a {
    color: #fff;
    margin-right: 16px; /* This is .me-4 equivalent in Bootstrap */
}

footer .footer-section {
    margin-top: 100px; /* This is mt-100 equivalent in Bootstrap */
    text-align: center;
    color: #000;
}

footer .footer-section .content h6 {
    text-transform: uppercase;
    font-weight: bold;
}

footer .footer-section .content hr {
    width: 60px;
    background-color: #39b54a;
    height: 2px;
    margin: 0.5rem auto 1.5rem auto; /* Equivalent of mb-4 and mt-0 */
}

footer .footer-section .content a {
    color: #000;
    text-decoration: none;
}

footer .footer-section .contact p {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

footer .copyright {
    text-align: center;
    padding: 12px; /* This is p-3 equivalent in Bootstrap */
    background-color: #39b54a;
    color: #fff;
}

footer .copyright a {
    color: #fff;
    text-decoration: none;
}
.footer-title h6{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-title hr{
    width: 150px; background-color: #39b54a; height: 2px;
}
.footer-title p{
    font-size: 1.1rem;
    color: #000 !important;
}
.footer-title a{
    color: #000 !important;
    text-decoration: none;
}
.footer-title a:hover{
    color: #39b54a !important;
}
