.top {
    font-family: 'Open Sans', sans-serif;
    color: #3c4043;
    .login {
        background: #eef1f6;
        .container-fluid {
            .form-section {
                min-height: 100vh;
                position: relative;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px;
                .login-inner-form {
                    max-width: 450px;
                    color: #3c4043;
                    width: 100%;
                    text-align: center;
                    .details {
                        a {
                            img {
                                margin-bottom: 15px;
                                height: 7rem;
                                object-fit: cover;
                            }
                        }
                        h3 {
                            margin: 0 0 30px;
                            font-size: 25px;
                            font-weight: 400;
                            color: #3c4043;
                        }
                        .form-group {
                            margin-bottom: 20px;

                            .btn-theme {
                                background: #45BF55;
                                border: none;
                                color: #fff;
                            }

                            .btn-md {
                                cursor: pointer;
                                height: 55px;
                                color: #fff;
                                padding: 15.5px 50px 14.5px 50px;
                                font-size: 17px;
                                font-weight: 400;
                                font-family: 'Jost', sans-serif;
                                border-radius: 50px;
                            }
                            input{
                                color: #45BF55;
                            }
                            input::placeholder {
                                color: #45BF55;
                            }
                            span{
                                i:hover{
                                    color: #45BF55;
                                }
                            }
                        }
                        .form-box {
                            width: 100%;
                            position: relative;

                            .form-control {
                                outline: none;
                                width: 100%;
                                padding: 10px 25px;
                                font-size: 16px;
                                outline: 0;
                                font-weight: 400;
                                color: #3c4043;
                                height: 55px;
                                border-radius: 50px;
                                border: 1px solid #fff;
                            }

                            .form-check {
                                float: left;
                                margin-bottom: 0;
                                padding-left: 0;

                                input[type=checkbox],
                                input[type=radio] {
                                    margin-top: 4px;
                                    margin-right: 3px;
                                    display: none;
                                }

                                .form-check-input {
                                    float: left;
                                    margin-left: -1.5em;
                                }

                                input[type=checkbox] {
                                    border-radius: .25em;
                                }

                                .form-check-label {
                                    padding-left: 25px;
                                    margin-bottom: 0;
                                    font-size: 16px;
                                }

                                .form-check-label::before {
                                    content: "";
                                    display: inline-block;
                                    position: absolute;
                                    width: 20px;
                                    top: 0;
                                    height: 20px;
                                    margin-left: -25px;
                                    border: 1px solid #fff;
                                    border-radius: 50px;
                                    background-color: #fff;
                                }
                            }

                            .checkbox-theme {
                                input[type="checkbox"]:checked + label::before {
                                    background-color: #45BF55;
                                    border-color: #45BF55;
                                }

                                input[type=checkbox]:checked + label:before {
                                    font-weight: 600;
                                    color: #fff;
                                    line-height: 19px;
                                    font-size: 14px;
                                    content: "\2713";
                                    padding-left: 1px;
                                }
                            }
                        }

                        .checkbox {
                            a {
                                font-size: 16px;
                                color: #3c4043;
                                float: right;
                                text-decoration: none;
                            }
                            a:hover{
                                color: #45BF55;
                            }
                        }

                        .clearfix::after {
                            display: block;
                            clear: both;
                            content: "";
                        }

                        p {
                            color: #3c4043;
                            font-size: 1rem;
                            margin: 0;
                            a {
                                color: #3c4043;
                                font-weight: 600;
                                text-decoration: none;
                                font-family: 'Jost', sans-serif;
                            }
                            a:hover{
                                color: #45BF55;

                            }
                        }
                        .text-danger-login{
                            color: #ff0000;
                            font-weight: bold;
                            margin-bottom: 20px;
                            display: block;
                            font-size: 14px;
                            text-align: left;
                        }
                    }

                }
            }

            .bg-img {
                background: url('../../public/images/Login/login_banner.jpg') no-repeat center center;
                background-size: cover;
                top: 0;
                bottom: 0;
                min-height: 100vh;
                text-align: left;
                z-index: 10;
                opacity: 1;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px 30px;
                .information {
                    color: #fff;
                    max-width: 500px;
                    margin: 0 20px 0 70px;

                    .btn-section {
                        margin-bottom: 30px;

                        .link-btn {
                            background: #fff;
                            padding: 9px 30px;
                            font-size: 15px;
                            border-radius: 3px;
                            margin-right: 2px;
                            letter-spacing: 0.5px;
                            font-weight: 400;
                            color: #45BF55;
                            font-family: 'Jost', sans-serif;
                        }

                        a {
                            text-decoration: none;
                        }

                        .active {
                            background: #45BF55;
                            color: #fff;
                        }
                    }

                    h1 {
                        color: #fff;
                        margin-bottom: 20px;
                        font-size: 40px;
                        font-weight: 600;
                        text-transform: uppercase;
                        font-family: 'Jost', sans-serif;

                        span {
                            color: #45BF55;
                            font-weight: 700;
                            font-size: 2.7rem;
                        }
                    }

                    p {
                        color: #fff;
                        margin-bottom: 20px;
                        line-height: 28px;
                        font-size: 1.2rem;
                    }

                    .social-list {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px; /* Khoảng cách giữa các biểu tượng */
                    }

                    .social-list a {
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        margin: 2px;
                        border-radius: 5%;
                        background: #fff;
                        box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
                        text-decoration: none;
                    }

                    .social-list a:hover {
                        color: #fff;
                    }

                    .social-list .facebook-bg {
                        color: #4867aa;
                    }

                    .social-list .facebook-bg:hover {
                        background: #4867aa;
                    }

                    .social-list .twitter-bg {
                        color: #33CCFF;
                    }

                    .social-list .twitter-bg:hover {
                        background: #33CCFF;
                    }

                    .social-list .google-bg {
                        color: #db4437;
                    }

                    .social-list .google-bg:hover {
                        background: #db4437;
                    }

                    .social-list .linkedin-bg {
                        color: #2392e0;
                    }

                    .social-list .linkedin-bg:hover {
                        background: #2392e0;
                    }

                }

                @media (max-width: 991px) {
                    display: none;
                }
            }

            .bg-img::after {
                position: absolute;
                left: -1px;
                top: 0;
                width: 276px;
                height: 100%;
                content: "";
                z-index: -1;
                background: url('../../public/images/Login/img-50.png') top left repeat;
            }
        }
    }
}
