.dashboard-main-body{
    padding: 0 1.5rem;
    .mb-24{
        margin-block-end: 1.5rem !important;
        border-bottom: 1px solid #fff;
        .body-title{
            color: #c41313;
            font-weight: 700;
            font-size: 2.5rem;
            padding: 1rem;
        }
        ul{
            list-style: none;
            padding-top: 1rem;
            li{
                a{
                    text-decoration: none;
                    color: #c41313;
                    font-size: 1.5rem;
                }
                a:hover{
                    color: #3c4043;
                }
                span{
                    color: #fff;
                    font-size: 1.5rem;
                    &:hover{
                        color: #3c4043;
                    }
                }
            }
        }
    }
    .row {
        .col {
            margin: 1rem 0;

            .card-block {
                border: 2px solid #c41313 !important;
                height: 100% !important;
                box-shadow: none !important;
                background-color: #fff;
                .card-header{
                    .card-body-name{
                        font-size: 1.3rem;
                        color: #3c4043;
                        font-weight: 600;
                        .card-body-name-span{
                            color: #c41313;
                            font-weight: 700;
                        }
                    }
                }
                .card-body {
                    padding: 0.875rem 1.5rem;
                    color: #3c4043;
                    .d-flex {
                        .this-week-title {
                            color: #3c4043;
                            font-weight: 600 !important;
                            margin-bottom: 0.25rem !important;
                            font-size: 2.5rem;
                        }
                        h3 {
                            font-size: 1.8rem;
                            color: inherit;
                            .mb-0 {
                                margin-bottom: 0 !important;
                            }
                        }

                        .cart-body-icon {
                            height: 3.125rem !important;
                            width: 3.125rem !important;
                            border-radius: 50% !important;
                            color: #fff;
                            background-color: #c41313;
                            i {
                                font-size: 1.75rem;
                            }
                        }
                    }
                    .card-body-text-info {
                        font-size: 1.2rem !important;
                        margin-block-start: 0.75rem !important;
                        color: inherit !important;

                        .text-success-main { color: #c41313 !important; font-size: 1.3rem; }
                        .text-danger-main { color: #FFC142 !important; font-size: 1.3rem; }
                        .text-neutral-main { color: #c41313 !important; font-size: 1.5rem; }
                    }
                }

                .p-20 {
                    padding: 1.25rem !important;
                }
            }
        }
    }
    .user-manage-block{
        margin-bottom: 10rem;
        padding-top: 2rem;
        .col-12{
            .card{
                .card-body{
                    .card-body-item{
                        .btn-add{
                            background-color: #c41313;
                            color: #fff;
                            &:hover{
                                background-color: #fff;
                                border: 1px solid #c41313;
                                span{
                                    color: #c41313;
                                }
                            }
                        }
                        .dataTables_filter{
                            position: relative;
                            .btn-search{
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                                right: .5rem;
                                font-size: 1.2rem;
                                background-color: transparent;
                                border: none;
                                &:hover{
                                    i{
                                        color: #c41313;
                                    }
                                }
                            }
                        }
                    }
                    .table-responsive{
                        overflow-x: visible;
                        #order-listing_wrapper{
                            overflow: hidden;
                            .dataTable{
                                width: 100%;
                                thead{
                                    tr{
                                        th{
                                            text-align: center;
                                            font-size: 1.6rem;
                                            vertical-align: middle;
                                        }
                                    }
                                }
                                tbody{
                                    tr{
                                        td{
                                            text-align: center;
                                            vertical-align: middle;
                                            font-size: 1.2rem;
                                            .user-img{
                                                width: 50px;
                                                height: 50px;
                                                object-fit: cover;
                                                border-radius: 50%;
                                                margin-right: 10px;
                                            }
                                            .btn-update{
                                                background-color: #c41313;
                                                color: #fff;
                                            }
                                            .btn-delete{
                                                background-color: #FFC142;
                                                color: #fff;
                                            }
                                        }
                                        .table-user-name{
                                            color: #c41313;
                                        }
                                    }

                                }
                            }
                            .paginate {
                                .text-muted {
                                    display: none;
                                }
                                .pagination {
                                    .page-item {
                                        margin: 0 3px;
                                        border-radius: 50%;

                                        .page-link {
                                            width: 3rem;
                                            height: 3rem;
                                            border-radius: 50%;
                                            color: #c41313;
                                            border: 1px solid #c41313;
                                            text-align: center;
                                            font-size: 1.25rem;
                                            line-height: 1.5;
                                            &.disabled {
                                                color: #aaa;
                                                border-color: #ddd;
                                            }

                                            &:hover {
                                                background-color: #c41313;
                                                color: #fff;
                                            }
                                        }

                                        &.active {
                                            .page-link {
                                                background-color: #c41313;
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }
                    #myTab {
                        .nav-item {
                            margin-right: .2rem;

                            .nav-link {
                                color: #fff;
                                background-color: #c41313;
                                border: 1px solid #c41313;
                                border-radius: 0.25rem;
                                padding: 0.5rem 1rem;
                                transition: background-color 0.3s, color 0.3s;

                                &:hover {
                                    background-color: #c41313;
                                }
                            }
                            .nav-link.active {
                                background-color: #fff;
                                color: #c41313;
                                border-color: #c41313;
                            }
                        }
                    }
                    #myTabContent {
                        .tab-pane {
                            padding: 1.5rem;
                            .form-group {
                                margin-bottom: 1.5rem;

                                label {
                                    font-size: 1.25rem;
                                    font-weight: bold;
                                    color: #333;
                                }

                                input.form-control {
                                    font-size: 1rem;
                                    padding: 0.75rem;
                                    border-radius: 0.25rem;
                                }

                                .text-danger-login {
                                    color: #c41313;
                                    font-size: 0.875rem;
                                }

                                button.btn-update-user {
                                    font-size: 1rem;
                                    padding: 0.75rem 1.5rem;
                                    border-radius: 0.25rem;
                                    background-color: #c41313;
                                    color: #fff;
                                }
                                .d-flex {
                                    label {
                                        margin-right: 1rem;
                                        font-size: 1.25rem;
                                        font-weight: bold;
                                        color: #333;
                                    }

                                    .current-user-image {
                                        max-width: 150px;
                                        max-height: 150px;
                                        border-radius: 0.5rem;
                                        border: 2px solid #ddd;
                                        margin-left: 1rem;
                                        object-fit: cover;
                                    }
                                }
                                .show-pass-word{
                                    position: absolute;
                                    top: 55%;
                                    right: 1rem;
                                    cursor: pointer;
                                    &:hover{
                                        i{
                                            color: #c41313;
                                            transition: color 0.3s;
                                        }
                                    }
                                }
                                .text-danger-login {
                                    color: #c41313;
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}
.rounded-5{
    margin-bottom: 4rem;
    .custom-section {
        border-radius: .5rem .5rem 0 0;
        width: 100%;
        padding: 4rem 0;
        height: 640px;
        margin-top: 5rem;
    }
}


.custom-card {
    border-radius: .5rem;
    height: 100%;
    .gradient-custom{
        img{
            width: 80px;
            height: 80px;
        }
        h5{
            color: #fff;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 1rem;
        }
        p{
            color: #fff;
            font-size: 1rem;
            text-align: center;
        }
        a{
            background-color: transparent;
            border: none;
            color: #fff;
            width: 30px;
            height: 30px;

        }
    }
    .card-body{
        h6{
            color: #333;
            font-size: 1.3rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        p{
            color: #777;
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        .media-block{
            a{
                color: #c41313;
                font-size: 1.3rem;
                margin: 0 0.3rem;
            }
        }
        .infor-block{
            a{
                color: #c41313;
                font-size: 1.3rem;
                margin: 0 0.3rem;
            }
        }
    }
}

  .custom-gradient-column {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }

  .gradient-custom {
    background: #c41313;
  }
